.blockly-editor{
  height: 90vh;
  width: 100%;
}

.nav-avatar{
  color: var(--second-color);
}

.nav-avatar:hover{
  color: var(--main-color);
}

.btn-danger{
  background-color: #ec0000;
}

.btn-danger:hover{
  background-color: var(--main-color);
}













 